@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-bg: #FFFFFF;
    --color-primary: #111111;
    --color-secondary: #757575;
    --color-secondary-footer: #7E7E7E;
    --color-search-bg: #F5F5F5;
    --color-search-text: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 15px/24px "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 64px;
    min-height: 100vh;
    background: var(--color-bg);
    color: var(--color-primary);
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
a img {
    border: 0;
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: normal;
}

input,
button {
    display: inline-block;
    outline: 0;
    border: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    width: 100%;
}

.fw-500 {
    font-weight: 500;
}

.container {
    max-width: 1440px;
    padding: 0 16px;
}

.menu {
    gap: 12px;
    align-items: center;
}

.menu li:hover {
    text-decoration: underline;
}

.nav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 12px 0;
    height: auto;
}

.nav-right {
    gap: 5px;
    align-items: center;
}

.logo img {
    width: auto;
    height: 21px;
}

.search {
    display: flex;
    padding: 8px 10px;
    align-items: center;
    background: var(--color-search-bg);
    border-radius: 100px;
    gap: 6px;
    max-width: 180px;
    height: 40px;
}

.search input {
    background: transparent;
    width: 100%;
}

.search input::placeholder {
    color: var(--color-search-text);
}

.search img {
    width: 17px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.icons a:hover {
    background: var(--color-search-bg);
    border-radius: 50%;
}

.icons img {
    width: auto;
}

.buttons {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.btn {
    background: var(--color-primary);
    color: var(--color-bg);
    padding: 8px 22px;
    border-radius: 30px;
    font-weight: 500;
}

.btn:hover {
    background: var(--color-secondary);
}

.invert {
    background: var(--color-bg);
    color: var(--color-primary);
}

.invert:hover {
    background: var(--color-search-text);
}

.main-content {
    flex: 1;
    gap: 64px;
}

.first-look-content {
    text-align: center;
    gap: 48px;
}

.title-box {
    gap: 4px;
}

.content-box {
    gap: 24px;
}

.title {
    font-size: 56px;
    line-height: 60px;
    font-weight: 500;
}

.text {
    max-width: 506px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    line-height: 28px;
    padding-bottom: 24px;
}

.product-card {
    width: 100%;
    transition: .3s ease;
}

.product-link {
    gap: 21px;
}

.product-card-content {
    display: flex;
    justify-content: space-between;
}

.product-card-name,
.product-price {
    max-width: 50%;
}

.product-card-text {
    color: var(--color-secondary);
}

.essentials {
    padding-bottom: 64px;
}

.essentials-card {
    position: relative;
    width: 100%;
}

.essentials-card a {
    position: absolute;
    bottom: 48px;
    left: 48px;
}

.footer-content {
    background: var(--color-primary);
    color: var(--color-bg);
    padding-top: 41px;
    padding-bottom: 26px;
}

.footer-container {
    width: 100%;
    align-items: center;
    gap: 40px;
}

.footer-columns {
    gap: 32px;
}

.footer-list {
    gap: 7px;
    text-align: center;
}

.footer-link-title {
    font-size: 10px;
}

.footer-link {
    font-size: 11px;
    color: var(--color-secondary-footer);
}

.footer-link:hover {
    color: var(--color-bg);
}

.social-links {
    width: 337px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-link:hover {
    outline: 1px solid #fff;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-content {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        gap: 5px;
    }

    .menu {
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .nav-right {
        flex-direction: row;
        justify-content: end;
    }

    .section-title {
        text-align: left;
    }

    .footer-container {
        justify-content: space-between;
    }

    .footer-columns {
        flex-direction: row;
        gap: 12px;
        width: 100%;
    }

    .footer-col {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        margin: 0 auto;
        padding: 0 48px;
    }

    .nav-content {
        height: 60px;
        gap: 20px;
    }

    .menu {
        gap: 24px;
    }

    .nav-right {
        gap: 20px;
    }

    .icons {
        gap: 12px;
    }

    .product-card:hover {
        transform: translateY(-20px);
    }

    .footer-container {
        flex-direction: row;
        align-items: start;
    }

    .footer-col {
        flex: none;
        width: 245px;
    }

    .footer-list {
        text-align: left;
    }

    .social-links {
        justify-content: end;
    }
}